@keyframes fade {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .6
    }
}

@-webkit-keyframes fade {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .4
    }
}

* {
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent
}

body,h1 {
    font-size: 15px
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #b8eff9;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light','HelveticaNeue',Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: left
}

.app {
    margin-top: 0;
    height: auto;
    width: auto;
    text-align: center
}

@media screen and (min-aspect-ratio:1/1) and (min-width:300px) {
    .app {
        background-position: center;
        padding: 0
    }
}

.input {
    width: 5em;
    padding: 5px;
    text-align: right
}

.select {
    width: 20em
}

.out {
    width: 16em
}

.left {
    text-align: right center
}

.buton_ENRURO,.buton_calc {
    text-decoration: none;
    color: #fff;
    text-align: center
}

.buton_ENRURO {
    text-align: left
}

h1 {
    font-weight: 400;
    overflow: visible;
    text-align: center
}

.event,.subline {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-size: 15px;
    margin: 0 30px;
    padding: 2px 0
}

.event.listening,.subline.old {
    background-color: #333;
    display: block
}

.event.received {
    background-color: #4b946a;
    display: none
}

.blik {
    animation: fade 5000ms infinite;
    text-align: justify;
    -webkit-animation: fade 5000ms infinite
}

.first,h2 {
    font-size: 15px
}

h2 {
    font-weight: 700;
    overflow: visible;
    text-align: center
}

.first {
    display: table-cell;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    padding: 10px 10px 20px 0;
    background-color: #333
}

.first,.last,.subb,.subb2 {
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px
}

.last {
    display: table-cell;
    width: 100%;
    color: #fff;
    margin: 0 10px;
    padding: 10px 10px 20px 0;
    background-color: #333
}

.subb,.subb2 {
    font-size: 15px
}

.subb {
    display: table-cell;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    width: 50%;
    margin: 0 auto;
    padding: 0
}

.subb2 {
    width: 30%;
    margin: 0 30px;
    padding: 10px 10px 20px 0
}

.subb2,.subbENRURO,.subbHome {
    display: table-cell;
    color: #fff;
    background-color: #333
}

.subbENRURO {
    font-size: 15px;
    width: 30%;
    text-align: left;
    margin: 0 10px;
    padding: 10px 5px 5px
}

.subbHome {
    width: 7%;
    height: 50%;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 0;
    padding: 0
}

.homeimage {
    width: 20px;
    height: 20px;
    padding: 0
}

.homeimage2 {
    width: 22px;
    height: 22px;
    padding: 0 0 0 10px
}

.buton_select,.subb3 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 15px;
    background-color: #333
}

.subb3 {
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 0 30px;
    padding: 10px 10px 20px 0
}

.buton_select {
    margin: 0;
    padding: 15px 0
}

.buton_href,.buton_select {
    text-decoration: none;
    color: #fff;
    text-align: center
}

.copyright,.titul {
    text-transform: none;
    text-align: center
}

.titul {
    margin: 0 auto;
    padding: 3%;
    font-size: 31px;
    font-weight: 700
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    width: 100%;
    height: 20px
}

.blik2,.copyright {
    animation: fade 5500ms infinite;
    -webkit-animation: fade 5500ms infinite
}

a,a:hover {
    text-decoration: none
}

.chart_div {
    padding: 10px;
    margin: 0 auto;
    background: #b8eff9;
    text-align: left;
    text-transform: none
}

.textnormal,.textnormal2 {
    display: table-cell;
    text-align: right;
    text-transform: none
}

.blink {
    display: table;
    margin: 0 auto;
    text-align: left
}

.chart_div2,.info,.numeration {
    margin: 0 auto;
    text-align: left;
    text-transform: none
}

.chart_div2 {
    background: #b8eff9;
    padding: 10px 0
}

.info,.numeration {
    font-size: 18px;
    padding: 11px
}

.numeration {
    font-size: 16px;
    padding: 9px
}

.center,.resurs {
    text-align: center
}

.resurs {
    font-size: 18px;
    padding: 15px 11px 11px;
    margin: 0 auto;
    font-weight: 700;
    text-transform: none
}

.center {
    display: inline-block;
    vertical-align: middle
}

.numeration_resurs1 {
    padding: 5px 0;
    width: 25%;
    text-align: right
}

.numer_table,.numer_table2,.numeration_resurs,.numeration_resurs1 {
    display: table-cell;
    font-size: 17px;
    text-transform: none;
    font-weight: none
}

.numeration_resurs {
    padding: 25px 3% 15px 2%;
    width: 25%;
    text-align: right
}

.numer_table,.numer_table2 {
    width: 5%;
    text-align: center
}

.numer_table {
    height: 20px;
    padding: 20px 15px
}

.numer_table2 {
    padding: 10px
}

.blik3 {
    width: 50%;
    animation: fade 5500ms infinite;
    -webkit-animation: fade 5500ms infinite
}

.buton_href2 {
    font-size: 18px;
    text-transform: none;
    text-align: center
}

.buton_select3 {
    width: 10%;
    display: table-cell
}

.buton_select4 {
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
    background-color: #333
}

.buton_select2 {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    padding: 25px 0
}

.buton_select2,.home,.subbHome2 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    margin: 0;
    background-color: #333
}

.home {
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 15px 0
}

.subbHome2 {
    display: table-cell;
    width: 7%;
    height: 50%;
    text-align: left;
    padding: 0
}

hr {
    border: 0;
    background-color: #000;
    color: #000;
    height: 2px
}

.shapka,.shapka_home {
    width: 5%;
    display: table-cell
}

.shapka_home {
    width: .5%
}

.shapka_vnutr {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    padding: 15px;
    background-color: #333;
    border-bottom: 2px solid orange
}

.shapka_vnutr,.shapka_vnutr2,.subb_select {
    text-align: center;
    margin: 0 auto
}

.shapka_vnutr2 {
    border-bottom: 2px solid orange;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 21px 15px 15px;
    background-color: #333
}

.subb_select {
    color: #000;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 19px 15px 15px;
    background-color: #b8eff9;
    border-top: 2px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange
}
